:root{
    --vermelho:#E50914;
    --preto:rgb(7, 12, 13);
    --cinza:#c2bebe;
    --branco:rgb(255,255,255);
    --amarelo:#DDB545;
}

/*elementos base*/
body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 25px 15px;
}

.logo a {
    color: var(--vermelho);
    font-family: 'Arial' , Times;
    font-size: 2em;

    text-decoration: none;
    text-transform: uppercase;

    font-weight: 700;
}

header nav a {
    text-decoration: none;
    color: var(--branco);
    margin-right: 10px;

    font-size: 0.9em;
    font-weight: 300;

    cursor: pointer;
    transition: .3s ease all;
}

header nav a:hover{
    color: var(--cinza);
    font-size: 1.1em;
}

/*filme principal*/
.filme-principal {
    font-size: 16px;
    background: url('../img/capa-vis-a-vis.jpg') no-repeat;

    height: 600px;
    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .container {
    width:40%;
}

.container {
    margin-left: 20px;
}

.filme-principal .descricao {
    margin-top: 15px;
    margin-bottom: 40px ;

    font-size: 1.3em;
    text-align: justify;
}

.titulo {
    margin-top: 15%;
    font-size: 8em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    text-align: left;

    color: var(--amarelo);

    cursor: pointer;
    transition: .3s ease all;
}

.titulo:hover {
    font-size: 9em;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    background-color: var(--cinza) ;
    border: none;
    color: black;

    padding: 15px 30px;
    margin-right: 15px;

    text-transform: uppercase;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao img {
    width: 7%;
}

.box-filmes {
    height: 100%;
    width: 100%;
    display: block;
}
/*configuração carrosel*/
.carrosel-filmes {
    padding: 5px;
}

.carrosel-filmes h3 {
    padding: 15px;

    font-size: 1.2em;
}

/*configuração do rodape*/
.rodape {
    width: 70%;
    height: 100%;

    margin: 15px auto;
}

.rodape-container {
    display: flex;
    flex-direction: column;
}

.rodape-container-item {
    display: flex;
    justify-content: space-between;
}

.rodape-container-item-redeSociais {
    display: flex;
    justify-content: center;
    gap: 20px;

    margin: 10px 0 40px 0;
}

.rodape-container-item-redeSociais img {
    width: 3%;
}

.rodape-container-item-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 10px;
    margin-bottom: 35px;
}

.rodape-container-item-menu-descricao a {
    text-decoration: none;
    color: white;

    font-size: 0.9em;
}

.rodape-container-item-menu-descricao a:hover{
    color: var(--cinza);
}

.rodape-container-item-botao {
    width: 200px;
    height: 50px;

    border: 1px solid var(--branco);

    background: black;
    color: white;

    margin-bottom: 35px;
    margin-left: 25px;
}

.rodape-container-item-botao:hover {
    border:2px solid var(--vermelho);
}

.rodape-container-item-copyright {
    margin: 0 auto 35px ;
}

